.features {
    padding: 75px 0;
    background: #eeeeee;
    &-title {
        color: #008b8b;
        font-size: 24px;
        font-weight: 700;
        line-height: 35px;
        text-align: center;
        margin-bottom: 100px;
        font-family: sans-serif, monospace, serif;
        span {
            color: #fff;
            padding: 10px;
            background: #25aaaa;
            border-radius: 50% 50% 50% 0;
        }
    }
    .cards-ctn {
        gap: 80px;
        flex-wrap: wrap;
        @include for-desktop-up {
            gap: 0;
            justify-content: space-evenly;
        }
        .card-parent {
            width: 100%;
            padding: 0 15px;
            @include for-desktop-up {
                padding: 0 0;
                width: fit-content;
            }
            .card {
                height: 350px;
                max-width: 450px;
                @include for-desktop-up {
                    width: 325px;
                }
                &--top {
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    border: 4px solid #25aaaa;
                    img {
                        width: 100%;
                        height: auto;
                        background: #fff;
                    }
                }
                &--bottom {
                    height: 50%;
                    padding: 0 10px;
                    text-align: left;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .title {
                        color: #303030;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .description {
                        color: #404040;
                        font-size: 17px;
                        line-height: 19px;
                        letter-spacing: .3px;
                    }
                }
            }
        }
    }
}