header {
    gap: 20px;
    z-index: 2;
    padding: 15px;
    position: relative;
    flex-direction: row;
    background: #008b8b;
    justify-content: space-between;
    @include for-tablet-portrait-up {
        padding: 15px 40px;
        flex-direction: column;
    }
    @include for-tablet-landscape-up {
        flex-direction: row;
    }
    .burguer {
        margin: auto 0;
        cursor: pointer;
        @include for-tablet-portrait-up {
            display: none;
        }
    }
    .logo p {
        font-size: 35px;
        font-weight:700;
    }
    nav {
        gap: 25px;
        display: none;
        @include for-tablet-portrait-up {
            display: flex;
        }
    }
}

.phone-ctn {
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    padding: 10px 15px;
    border: solid 2px #fff;
    p {
        left: 5px;
        position: absolute;
    }
    .phone {
        color: #fff;
        width: 130px;
        border: none;
        position: relative;
        padding: 0 0 0 15px;
        background: transparent;
        &:focus, &::selection {
            outline: none;
            background: none;
        }
    }
}

.tooltip {
    top: 0;
    right: -70px;
    z-index: 5;
    color: #454545;
    padding: 10px;
    display: none;
    position: absolute;
    font-weight: 700;
    border-radius:  3px;
    background: #aafaaa;
    &::before {
        top: 10px;
        z-index: 5;
        left: -22px;
        content: '';
        position: absolute;
        display: inline-block;
        border: 8px solid transparent;	
        border-right: 15px solid #aafaaa;
    }
}