.media {
    gap: 40px;
    padding: 80px 0;
    background: #eeeeee;
    flex-direction: column;
    .title {
        color: #303030;
        font-size: 22px;
        font-weight: 700;
        font-family: sans-serif, monospace, serif;
    }
    .icons {
        gap: 20px;
        width: 100%;
    }
}

.icon {
    width: auto;
    height: 40px;
    img {
        width: auto;
        height: 100%;
        border-radius: 3px;
    }
}