* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  background: #87cefa80;
  outline: #87cefa 2px solid;
}

body {
  scroll-behavior: smooth;
}

p, a {
  color: #fff;
}

a {
  text-decoration: none;
}

.link {
  padding: 8px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  font-family: sans-serif, monospace, serif;
}

.link:hover {
  background: #ffffff40;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.now {
  position: relative;
}

.now::before {
  content: "";
  height: 3px;
  width: 80%;
  left: 50%;
  bottom: -3px;
  position: absolute;
  background: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.now:hover::before {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.shadow {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

[data-title] {
  position: relative;
}

[data-title]:hover::before {
  top: -36px;
  color: #fff;
  font-size: 12px;
  padding: 6px 8px;
  position: absolute;
  border-radius: 2px;
  background: #000;
  white-space: nowrap;
  display: inline-block;
  content: attr(data-title);
  font-family: cursive, sans-serif;
}

[data-title]:hover::after {
  left: 8px;
  top: -10px;
  content: '';
  color: #fff;
  position: absolute;
  display: inline-block;
  border: 8px solid transparent;
  border-top: 8px solid #000;
}

header {
  gap: 20px;
  z-index: 2;
  padding: 15px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #008b8b;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 600px) {
  header {
    padding: 15px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 890px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header .burguer {
  margin: auto 0;
  cursor: pointer;
}

@media (min-width: 600px) {
  header .burguer {
    display: none;
  }
}

header .logo p {
  font-size: 35px;
  font-weight: 700;
}

header nav {
  gap: 25px;
  display: none;
}

@media (min-width: 600px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.phone-ctn {
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  padding: 10px 15px;
  border: solid 2px #fff;
}

.phone-ctn p {
  left: 5px;
  position: absolute;
}

.phone-ctn .phone {
  color: #fff;
  width: 130px;
  border: none;
  position: relative;
  padding: 0 0 0 15px;
  background: transparent;
}

.phone-ctn .phone:focus, .phone-ctn .phone::-moz-selection {
  outline: none;
  background: none;
}

.phone-ctn .phone:focus, .phone-ctn .phone::selection {
  outline: none;
  background: none;
}

.tooltip {
  top: 0;
  right: -70px;
  z-index: 5;
  color: #454545;
  padding: 10px;
  display: none;
  position: absolute;
  font-weight: 700;
  border-radius: 3px;
  background: #aafaaa;
}

.tooltip::before {
  top: 10px;
  z-index: 5;
  left: -22px;
  content: '';
  position: absolute;
  display: inline-block;
  border: 8px solid transparent;
  border-right: 15px solid #aafaaa;
}

.menu {
  top: 0;
  right: 0;
  z-index: 99;
  max-width: 450px;
  width: 90vw;
  height: 100vh;
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px 25vh 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(#00acac), to(#006e6e));
  background: linear-gradient(#00acac, #006e6e);
}

.menu-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-top .logo {
  font-size: 30px;
  font-weight: 700;
}

.menu-top .close-menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.menu .link {
  font-size: 20px;
  margin: 25px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif, monospace, serif;
}

.hero {
  gap: 40px;
  overflow-x: hidden;
  padding: 40px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-position: center center;
  background-image: url(../images/hero.jpg);
}

@media (min-width: 890px) {
  .hero {
    padding: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero-welcome {
  gap: 40px;
  margin: 0 auto;
  padding: 50px;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffffaf;
  -webkit-animation: slide-in--left .8s ease;
          animation: slide-in--left .8s ease;
  max-width: 500px;
  width: 100%;
}

@media (min-width: 890px) {
  .hero-welcome {
    margin: 0;
    max-width: none;
    width: none;
  }
}

.hero-welcome .title {
  width: 100%;
  color: #303030;
  font-size: 70px;
  font-weight: 900;
  font-family: serif, Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 1200px) {
  .hero-welcome .title {
    width: 65%;
    font-size: 75px;
  }
}

.hero-welcome .title span {
  -webkit-text-decoration: underline #25aaaa;
          text-decoration: underline #25aaaa;
}

.hero-welcome q {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
}

.hero-welcome p {
  color: #464646;
}

.hero-contact {
  -webkit-animation: slide-in--right .8s ease;
          animation: slide-in--right .8s ease;
}

.hero-contact form {
  gap: 25px;
  max-width: 500px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 0 35px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 890px) {
  .hero-contact form {
    width: 400px;
  }
}

.hero-contact form .title {
  width: 100%;
  height: 80px;
  font-family: sans-serif, monospace, serif;
  background: #ececec;
}

.hero-contact form .title p {
  color: #008b8b;
  font-size: 20px;
  font-weight: 700;
}

.hero-contact form input, .hero-contact form textarea {
  border: none;
  height: 40px;
  max-width: 85%;
  min-width: 85%;
  font-size: 16px;
  color: #686868;
  background: transparent;
  border-bottom: solid 2px #008b8b;
}

.hero-contact form input:focus, .hero-contact form textarea:focus {
  color: #000;
}

.hero-contact form textarea {
  min-height: 75px;
  max-height: 150px;
}

.hero-contact form .send {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  background: #008b8b;
}

.hero-contact form .send:hover {
  background: #008b8bc7;
}

@-webkit-keyframes slide-in--left {
  0% {
    -webkit-transform: translateX(-30vw);
            transform: translateX(-30vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes slide-in--left {
  0% {
    -webkit-transform: translateX(-30vw);
            transform: translateX(-30vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@-webkit-keyframes slide-in--right {
  0% {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes slide-in--right {
  0% {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

.features {
  padding: 75px 0;
  background: #eeeeee;
}

.features-title {
  color: #008b8b;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  margin-bottom: 100px;
  font-family: sans-serif, monospace, serif;
}

.features-title span {
  color: #fff;
  padding: 10px;
  background: #25aaaa;
  border-radius: 50% 50% 50% 0;
}

.features .cards-ctn {
  gap: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .features .cards-ctn {
    gap: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.features .cards-ctn .card-parent {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .features .cards-ctn .card-parent {
    padding: 0 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.features .cards-ctn .card-parent .card {
  height: 350px;
  max-width: 450px;
}

@media (min-width: 1200px) {
  .features .cards-ctn .card-parent .card {
    width: 325px;
  }
}

.features .cards-ctn .card-parent .card--top {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border: 4px solid #25aaaa;
}

.features .cards-ctn .card-parent .card--top img {
  width: 100%;
  height: auto;
  background: #fff;
}

.features .cards-ctn .card-parent .card--bottom {
  height: 50%;
  padding: 0 10px;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.features .cards-ctn .card-parent .card--bottom .title {
  color: #303030;
  font-size: 18px;
  font-weight: 600;
}

.features .cards-ctn .card-parent .card--bottom .description {
  color: #404040;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: .3px;
}

.media {
  gap: 40px;
  padding: 80px 0;
  background: #eeeeee;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.media .title {
  color: #303030;
  font-size: 22px;
  font-weight: 700;
  font-family: sans-serif, monospace, serif;
}

.media .icons {
  gap: 20px;
  width: 100%;
}

.icon {
  width: auto;
  height: 40px;
}

.icon img {
  width: auto;
  height: 100%;
  border-radius: 3px;
}

footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .ftr-ctn {
  gap: 100px;
  width: 100%;
  padding: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00acac), to(#006e6e));
  background: linear-gradient(#00acac, #006e6e);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 890px) {
  footer .ftr-ctn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer .ftr-ctn .ftr-column {
  margin: 0 auto;
  text-align: center;
  max-width: 450px;
  width: 100%;
}

@media (min-width: 890px) {
  footer .ftr-ctn .ftr-column {
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
  }
}

footer .ftr-ctn .ftr-column .ftr-title {
  padding: 10px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  background: #1b8686;
  font-family: monospace;
}

footer .ftr-ctn .ftr-column .ftr-item {
  margin: 20px 10px;
  color: #f5f5f5;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: monospace, sans-serif;
}

footer .ftr-ctn .ftr-column .ftr-item span {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

.ftr-link:hover {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.author, .credits {
  background: #006e6e;
}

.author p, .author a, .credits p, .credits a {
  text-align: center;
  font-size: 12px;
  color: #e0e0e0;
}

.author a, .credits a {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */